#acf-table tr:nth-child(even){
	background-color: #eee;
}
#acf-table tr(){
	border-bottom: 1px solid #f5f5f5;
}
.hide{ display: none;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
